@media screen and (max-width:470px){
    .about-name{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:30px;
        text-align:center;
        margin-top:12vh;
        color:rgb(93, 177, 250);
    }
}
@media screen and (min-width:470px){
    .about-name{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:30px;
        text-align:center;
        margin-top:27vh;
        color:rgb(93, 177, 250);
    }
}